In [1]:
# import dependencies here
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

from tensorflow.keras.utils import to_categorical
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [2]:
# pull in csv file and read into a pandas data frame and clean data frame
players_df = pd.read_csv("Resources/player_data.csv")

clean_df = players_df.loc[(players_df["stolen_bases"] != 'no') & (players_df["batting_average"] != 'no') & (players_df["hall_of_fame"] != "EXEC") & (players_df["hall_of_fame"] != "EXEC/PIO") & (players_df["hall_of_fame"] != "MGR") & (players_df["hall_of_fame"] != "PIO") & (players_df["hall_of_fame"] != "UMP") & (players_df["hits"] != "0.0")]

clean_df

,player_id,name,at_bats,runs,hits,runs_batted_in,bases_on_balls,batting_average,doubles,triples,home_runs,stolen_bases,hall_of_fame
1,aaronha01,Henry Aaron,12364,2174.0,3771.0,2297,1402.0,0.305,624,98,755.0,240,no
2,aaronto01,Tommie Aaron,944,102.0,216.0,94,86.0,0.229,42,6,13.0,9,no
4,abadan01,Andy Abad,21,1.0,2.0,0,4.0,0.095,0,0,0.0,0,no
5,abadfe01,Fernando Abad,9,0.0,1.0,0,0.0,0.111,0,0,0.0,0,no
6,abbated01,Ed Abbaticchio,3044,355.0,772.0,324,289.0,0.254,99,43,11.0,142,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18800,zupcibo01,Bob Zupcic,795,99.0,199.0,80,57.0,0.25,47,4,7.0,7,no
18801,zupofr01,Frank Zupo,18,3.0,3.0,0,2.0,0.167,1,0,0.0,0,no
18802,zuvelpa01,Paul Zuvella,491,41.0,109.0,20,34.0,0.222,17,2,2.0,2,no
18803,zuverge01,George Zuverink,142.0,5.0,21.0,7.0,9.0,0.148,2.0,1.0,0.0,0.0,no
18804,zwilldu01,Dutch Zwilling,1280,167.0,364.0,202,128.0,0.284,76,15,30.0,46,no

In [3]:
# convert HOF column to yes/no format
replaced_df = clean_df.replace(to_replace=["P", "C", "1B", "2B", "3B", "SS", "LF", "CF", "RF", "DH"], value=["yes", "yes", "yes", "yes", "yes", "yes", "yes", "yes", "yes", "yes"])
replaced_df

,player_id,name,at_bats,runs,hits,runs_batted_in,bases_on_balls,batting_average,doubles,triples,home_runs,stolen_bases,hall_of_fame
1,aaronha01,Henry Aaron,12364,2174.0,3771.0,2297,1402.0,0.305,624,98,755.0,240,no
2,aaronto01,Tommie Aaron,944,102.0,216.0,94,86.0,0.229,42,6,13.0,9,no
4,abadan01,Andy Abad,21,1.0,2.0,0,4.0,0.095,0,0,0.0,0,no
5,abadfe01,Fernando Abad,9,0.0,1.0,0,0.0,0.111,0,0,0.0,0,no
6,abbated01,Ed Abbaticchio,3044,355.0,772.0,324,289.0,0.254,99,43,11.0,142,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18800,zupcibo01,Bob Zupcic,795,99.0,199.0,80,57.0,0.25,47,4,7.0,7,no
18801,zupofr01,Frank Zupo,18,3.0,3.0,0,2.0,0.167,1,0,0.0,0,no
18802,zuvelpa01,Paul Zuvella,491,41.0,109.0,20,34.0,0.222,17,2,2.0,2,no
18803,zuverge01,George Zuverink,142.0,5.0,21.0,7.0,9.0,0.148,2.0,1.0,0.0,0.0,no
18804,zwilldu01,Dutch Zwilling,1280,167.0,364.0,202,128.0,0.284,76,15,30.0,46,no

In [4]:
# Store x and y variables and print the shapes
X = replaced_df[["at_bats", "runs", "hits", "runs_batted_in",  "bases_on_balls", "doubles", "triples", "home_runs", "stolen_bases"]]

y = replaced_df["hall_of_fame"]
print(X.shape, y.shape)

(13978, 9) (13978,)

In [5]:
# split data into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [6]:
# scale the x/y variables
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

#y_scaler = StandardScaler().fit(y_train)
#y_train_scaled = y_scaler.transform(y_train)
#y_test_scaled = y_scaler.transform(y_test)

In [7]:
# label encode the y variable 
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [8]:
# create a sequential model
model = Sequential()

In [9]:
# add the first layer of neural network
model.add(Dense(units=4, activation='relu', input_dim=9))

In [10]:
# add the output layer
model.add(Dense(units=2, activation='softmax'))

In [11]:
# compile the model
recall = tf.keras.metrics.Recall()
precision = tf.keras.metrics.Precision()
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy', recall, precision])

In [12]:
# get the model summary before training
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 4)                 40
_________________________________________________________________
dense_1 (Dense)              (None, 2)                 10
=================================================================
Total params: 50
Trainable params: 50
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Fit (train) the model
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

Train on 10483 samples
Epoch 1/100
10483/10483 - 4s - loss: 0.4321 - accuracy: 0.9812 - recall: 0.9812 - precision: 0.9812
Epoch 2/100
10483/10483 - 1s - loss: 0.1723 - accuracy: 0.9824 - recall: 0.9824 - precision: 0.9824
Epoch 3/100
10483/10483 - 1s - loss: 0.0996 - accuracy: 0.9824 - recall: 0.9824 - precision: 0.9824
Epoch 4/100
10483/10483 - 1s - loss: 0.0738 - accuracy: 0.9830 - recall: 0.9830 - precision: 0.9830
Epoch 5/100
10483/10483 - 1s - loss: 0.0653 - accuracy: 0.9839 - recall: 0.9839 - precision: 0.9839
Epoch 6/100
10483/10483 - 1s - loss: 0.0622 - accuracy: 0.9843 - recall: 0.9843 - precision: 0.9843
Epoch 7/100
10483/10483 - 1s - loss: 0.0609 - accuracy: 0.9844 - recall: 0.9844 - precision: 0.9844
Epoch 8/100
10483/10483 - 1s - loss: 0.0605 - accuracy: 0.9850 - recall: 0.9850 - precision: 0.9850
Epoch 9/100
10483/10483 - 1s - loss: 0.0601 - accuracy: 0.9853 - recall: 0.9853 - precision: 0.9853
Epoch 10/100
10483/10483 - 1s - loss: 0.0599 - accuracy: 0.9849 - recall: 0.9849 - precision: 0.9849
Epoch 11/100
10483/10483 - 2s - loss: 0.0596 - accuracy: 0.9857 - recall: 0.9857 - precision: 0.9857
Epoch 12/100
10483/10483 - 1s - loss: 0.0593 - accuracy: 0.9855 - recall: 0.9855 - precision: 0.9855
Epoch 13/100
10483/10483 - 1s - loss: 0.0589 - accuracy: 0.9856 - recall: 0.9856 - precision: 0.9856
Epoch 14/100
10483/10483 - 1s - loss: 0.0588 - accuracy: 0.9857 - recall: 0.9857 - precision: 0.9857
Epoch 15/100
10483/10483 - 1s - loss: 0.0589 - accuracy: 0.9854 - recall: 0.9854 - precision: 0.9854
Epoch 16/100
10483/10483 - 1s - loss: 0.0586 - accuracy: 0.9856 - recall: 0.9856 - precision: 0.9856
Epoch 17/100
10483/10483 - 1s - loss: 0.0584 - accuracy: 0.9860 - recall: 0.9860 - precision: 0.9860
Epoch 18/100
10483/10483 - 1s - loss: 0.0585 - accuracy: 0.9858 - recall: 0.9858 - precision: 0.9858
Epoch 19/100
10483/10483 - 1s - loss: 0.0582 - accuracy: 0.9861 - recall: 0.9861 - precision: 0.9861
Epoch 20/100
10483/10483 - 1s - loss: 0.0581 - accuracy: 0.9861 - recall: 0.9861 - precision: 0.9861
Epoch 21/100
10483/10483 - 1s - loss: 0.0582 - accuracy: 0.9860 - recall: 0.9860 - precision: 0.9860
Epoch 22/100
10483/10483 - 1s - loss: 0.0580 - accuracy: 0.9862 - recall: 0.9862 - precision: 0.9862
Epoch 23/100
10483/10483 - 1s - loss: 0.0580 - accuracy: 0.9855 - recall: 0.9855 - precision: 0.9855
Epoch 24/100
10483/10483 - 1s - loss: 0.0578 - accuracy: 0.9857 - recall: 0.9857 - precision: 0.9857
Epoch 25/100
10483/10483 - 1s - loss: 0.0578 - accuracy: 0.9862 - recall: 0.9862 - precision: 0.9862
Epoch 26/100
10483/10483 - 1s - loss: 0.0577 - accuracy: 0.9860 - recall: 0.9860 - precision: 0.9860
Epoch 27/100
10483/10483 - 1s - loss: 0.0575 - accuracy: 0.9861 - recall: 0.9861 - precision: 0.9861
Epoch 28/100
10483/10483 - 1s - loss: 0.0576 - accuracy: 0.9860 - recall: 0.9860 - precision: 0.9860
Epoch 29/100
10483/10483 - 1s - loss: 0.0575 - accuracy: 0.9861 - recall: 0.9861 - precision: 0.9861
Epoch 30/100
10483/10483 - 1s - loss: 0.0573 - accuracy: 0.9861 - recall: 0.9861 - precision: 0.9861
Epoch 31/100
10483/10483 - 1s - loss: 0.0573 - accuracy: 0.9862 - recall: 0.9862 - precision: 0.9862
Epoch 32/100
10483/10483 - 1s - loss: 0.0573 - accuracy: 0.9860 - recall: 0.9860 - precision: 0.9860
Epoch 33/100
10483/10483 - 1s - loss: 0.0573 - accuracy: 0.9860 - recall: 0.9860 - precision: 0.9860
Epoch 34/100
10483/10483 - 1s - loss: 0.0572 - accuracy: 0.9860 - recall: 0.9860 - precision: 0.9860
Epoch 35/100
10483/10483 - 1s - loss: 0.0571 - accuracy: 0.9858 - recall: 0.9858 - precision: 0.9858
Epoch 36/100
10483/10483 - 1s - loss: 0.0568 - accuracy: 0.9862 - recall: 0.9862 - precision: 0.9862
Epoch 37/100
10483/10483 - 1s - loss: 0.0569 - accuracy: 0.9864 - recall: 0.9864 - precision: 0.9864
Epoch 38/100
10483/10483 - 1s - loss: 0.0568 - accuracy: 0.9859 - recall: 0.9859 - precision: 0.9859
Epoch 39/100
10483/10483 - 1s - loss: 0.0569 - accuracy: 0.9861 - recall: 0.9861 - precision: 0.9861
Epoch 40/100
10483/10483 - 1s - loss: 0.0569 - accuracy: 0.9861 - recall: 0.9861 - precision: 0.9861
Epoch 41/100
10483/10483 - 1s - loss: 0.0568 - accuracy: 0.9861 - recall: 0.9861 - precision: 0.9861
Epoch 42/100
10483/10483 - 1s - loss: 0.0568 - accuracy: 0.9862 - recall: 0.9862 - precision: 0.9862
Epoch 43/100
10483/10483 - 1s - loss: 0.0568 - accuracy: 0.9860 - recall: 0.9860 - precision: 0.9860
Epoch 44/100
10483/10483 - 1s - loss: 0.0568 - accuracy: 0.9861 - recall: 0.9861 - precision: 0.9861
Epoch 45/100
10483/10483 - 1s - loss: 0.0566 - accuracy: 0.9860 - recall: 0.9860 - precision: 0.9860
Epoch 46/100
10483/10483 - 1s - loss: 0.0566 - accuracy: 0.9864 - recall: 0.9864 - precision: 0.9864
Epoch 47/100
10483/10483 - 1s - loss: 0.0564 - accuracy: 0.9861 - recall: 0.9861 - precision: 0.9861
Epoch 48/100
10483/10483 - 1s - loss: 0.0566 - accuracy: 0.9860 - recall: 0.9860 - precision: 0.9860
Epoch 49/100
10483/10483 - 1s - loss: 0.0565 - accuracy: 0.9863 - recall: 0.9863 - precision: 0.9863
Epoch 50/100
10483/10483 - 1s - loss: 0.0564 - accuracy: 0.9861 - recall: 0.9861 - precision: 0.9861
Epoch 51/100
10483/10483 - 1s - loss: 0.0564 - accuracy: 0.9865 - recall: 0.9865 - precision: 0.9865
Epoch 52/100
10483/10483 - 1s - loss: 0.0565 - accuracy: 0.9859 - recall: 0.9859 - precision: 0.9859
Epoch 53/100
10483/10483 - 1s - loss: 0.0564 - accuracy: 0.9860 - recall: 0.9860 - precision: 0.9860
Epoch 54/100
10483/10483 - 1s - loss: 0.0564 - accuracy: 0.9866 - recall: 0.9866 - precision: 0.9866
Epoch 55/100
10483/10483 - 1s - loss: 0.0564 - accuracy: 0.9863 - recall: 0.9863 - precision: 0.9863
Epoch 56/100
10483/10483 - 1s - loss: 0.0563 - accuracy: 0.9864 - recall: 0.9864 - precision: 0.9864
Epoch 57/100
10483/10483 - 1s - loss: 0.0563 - accuracy: 0.9865 - recall: 0.9865 - precision: 0.9865
Epoch 58/100
10483/10483 - 1s - loss: 0.0563 - accuracy: 0.9862 - recall: 0.9862 - precision: 0.9862
Epoch 59/100
10483/10483 - 1s - loss: 0.0562 - accuracy: 0.9864 - recall: 0.9864 - precision: 0.9864
Epoch 60/100
10483/10483 - 1s - loss: 0.0561 - accuracy: 0.9863 - recall: 0.9863 - precision: 0.9863
Epoch 61/100
10483/10483 - 1s - loss: 0.0561 - accuracy: 0.9865 - recall: 0.9865 - precision: 0.9865
Epoch 62/100
10483/10483 - 1s - loss: 0.0561 - accuracy: 0.9863 - recall: 0.9863 - precision: 0.9863
Epoch 63/100
10483/10483 - 1s - loss: 0.0561 - accuracy: 0.9865 - recall: 0.9865 - precision: 0.9865
Epoch 64/100
10483/10483 - 1s - loss: 0.0560 - accuracy: 0.9866 - recall: 0.9866 - precision: 0.9866
Epoch 65/100
10483/10483 - 1s - loss: 0.0561 - accuracy: 0.9858 - recall: 0.9858 - precision: 0.9858
Epoch 66/100
10483/10483 - 1s - loss: 0.0559 - accuracy: 0.9864 - recall: 0.9864 - precision: 0.9864
Epoch 67/100
10483/10483 - 1s - loss: 0.0560 - accuracy: 0.9864 - recall: 0.9864 - precision: 0.9864
Epoch 68/100
10483/10483 - 1s - loss: 0.0559 - accuracy: 0.9867 - recall: 0.9867 - precision: 0.9867
Epoch 69/100
10483/10483 - 1s - loss: 0.0560 - accuracy: 0.9861 - recall: 0.9861 - precision: 0.9861
Epoch 70/100
10483/10483 - 1s - loss: 0.0558 - accuracy: 0.9865 - recall: 0.9865 - precision: 0.9865
Epoch 71/100
10483/10483 - 1s - loss: 0.0560 - accuracy: 0.9864 - recall: 0.9864 - precision: 0.9864
Epoch 72/100
10483/10483 - 1s - loss: 0.0559 - accuracy: 0.9861 - recall: 0.9861 - precision: 0.9861
Epoch 73/100
10483/10483 - 1s - loss: 0.0559 - accuracy: 0.9865 - recall: 0.9865 - precision: 0.9865
Epoch 74/100
10483/10483 - 1s - loss: 0.0559 - accuracy: 0.9867 - recall: 0.9867 - precision: 0.9867
Epoch 75/100
10483/10483 - 1s - loss: 0.0556 - accuracy: 0.9868 - recall: 0.9868 - precision: 0.9868
Epoch 76/100
10483/10483 - 1s - loss: 0.0557 - accuracy: 0.9868 - recall: 0.9868 - precision: 0.9868
Epoch 77/100
10483/10483 - 1s - loss: 0.0557 - accuracy: 0.9865 - recall: 0.9865 - precision: 0.9865
Epoch 78/100
10483/10483 - 1s - loss: 0.0557 - accuracy: 0.9864 - recall: 0.9864 - precision: 0.9864
Epoch 79/100
10483/10483 - 1s - loss: 0.0558 - accuracy: 0.9865 - recall: 0.9865 - precision: 0.9865
Epoch 80/100
10483/10483 - 1s - loss: 0.0557 - accuracy: 0.9865 - recall: 0.9865 - precision: 0.9865
Epoch 81/100
10483/10483 - 1s - loss: 0.0556 - accuracy: 0.9865 - recall: 0.9865 - precision: 0.9865
Epoch 82/100
10483/10483 - 1s - loss: 0.0559 - accuracy: 0.9865 - recall: 0.9865 - precision: 0.9865
Epoch 83/100
10483/10483 - 1s - loss: 0.0557 - accuracy: 0.9867 - recall: 0.9867 - precision: 0.9867
Epoch 84/100
10483/10483 - 1s - loss: 0.0556 - accuracy: 0.9867 - recall: 0.9867 - precision: 0.9867
Epoch 85/100
10483/10483 - 1s - loss: 0.0555 - accuracy: 0.9865 - recall: 0.9865 - precision: 0.9865
Epoch 86/100
10483/10483 - 1s - loss: 0.0554 - accuracy: 0.9867 - recall: 0.9867 - precision: 0.9867
Epoch 87/100
10483/10483 - 1s - loss: 0.0555 - accuracy: 0.9865 - recall: 0.9865 - precision: 0.9865
Epoch 88/100
10483/10483 - 1s - loss: 0.0555 - accuracy: 0.9866 - recall: 0.9866 - precision: 0.9866
Epoch 89/100
10483/10483 - 1s - loss: 0.0554 - accuracy: 0.9866 - recall: 0.9866 - precision: 0.9866
Epoch 90/100
10483/10483 - 1s - loss: 0.0557 - accuracy: 0.9864 - recall: 0.9864 - precision: 0.9864
Epoch 91/100
10483/10483 - 1s - loss: 0.0553 - accuracy: 0.9867 - recall: 0.9867 - precision: 0.9867
Epoch 92/100
10483/10483 - 1s - loss: 0.0554 - accuracy: 0.9862 - recall: 0.9862 - precision: 0.9862
Epoch 93/100
10483/10483 - 1s - loss: 0.0554 - accuracy: 0.9865 - recall: 0.9865 - precision: 0.9865
Epoch 94/100
10483/10483 - 1s - loss: 0.0552 - accuracy: 0.9865 - recall: 0.9865 - precision: 0.9865
Epoch 95/100
10483/10483 - 1s - loss: 0.0554 - accuracy: 0.9868 - recall: 0.9868 - precision: 0.9868
Epoch 96/100
10483/10483 - 1s - loss: 0.0554 - accuracy: 0.9865 - recall: 0.9865 - precision: 0.9865
Epoch 97/100
10483/10483 - 1s - loss: 0.0553 - accuracy: 0.9866 - recall: 0.9866 - precision: 0.9866
Epoch 98/100
10483/10483 - 1s - loss: 0.0553 - accuracy: 0.9864 - recall: 0.9864 - precision: 0.9864
Epoch 99/100
10483/10483 - 1s - loss: 0.0552 - accuracy: 0.9864 - recall: 0.9864 - precision: 0.9864
Epoch 100/100
10483/10483 - 1s - loss: 0.0553 - accuracy: 0.9865 - recall: 0.9865 - precision: 0.9865

In [14]:
# evaluate the model 
model_loss, model_accuracy, model_recall, model_precision = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - LOSS: {round(model_loss, 3)}, ACCURACY: {round(model_accuracy, 3)}, RECALL: {round(model_recall, 3)}, PRECISION: {round(model_precision, 3)}")

3495/1 - 1s - loss: 0.0257 - accuracy: 0.9883 - recall: 0.9883 - precision: 0.9883
Normal Neural Network - LOSS: 0.044, ACCURACY: 0.9879999756813049, RECALL: 0.9879999756813049, PRECISION: 0.9879999756813049

In [34]:
# test the model using a sample player
player_predict = model.predict(replaced_df.loc[replaced_df["name"] == "Cap Anson", ["at_bats", "runs", "hits", "runs_batted_in",  "bases_on_balls", "doubles", "triples", "home_runs", "stolen_bases"]])
player_predict

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>

array([[0., 1.]], dtype=float32)

In [32]:
yes = replaced_df.loc[replaced_df["hall_of_fame"] == "yes"]
yes

,player_id,name,at_bats,runs,hits,runs_batted_in,bases_on_balls,batting_average,doubles,triples,home_runs,stolen_bases,hall_of_fame
251,alomaro01,Roberto Alomar,9073,1508.0,2724.0,1134,1032.0,0.3,504,80,210.0,474,yes
403,ansonca01,Cap Anson,10281,1999.0,3435.0,2075,984.0,0.334,582,142,97.0,277.0,yes
412,aparilu01,Luis Aparicio,10230,1335.0,2677.0,791,736.0,0.262,394,92,83.0,506,yes
419,applilu01,Luke Appling,8856.0,1319.0,2749.0,1116.0,1302.0,0.31,440.0,102.0,45.0,179.0,yes
500,ashburi01,Richie Ashburn,8365.0,1322.0,2574.0,586.0,1198.0,0.308,317.0,109.0,29.0,234.0,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18593,wynnea01,Early Wynn,1704.0,136.0,365.0,173.0,141.0,0.214,59.0,5.0,17.0,1.0,yes
18617,yastrca01,Carl Yastrzemski,11988,1816.0,3419.0,1844,1845.0,0.285,646,59,452.0,168,yes
18671,youngcy01,Cy Young,2960,325.0,623.0,290,81.0,0.21,87,35,18.0,29,yes
18702,youngro01,Ross Youngs,4627,812.0,1491.0,592,550.0,0.322,236,93,42.0,153,yes
18709,yountro01,Robin Yount,11008,1632.0,3142.0,1406,966.0,0.285,583,126,251.0,271,yes